<!-- Footer -->
<footer class="page-footer font-small bg-secondary darken-1 foot">

    <!-- Footer Elements -->
    <div class="container">

      <!-- Grid row-->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-12 py-3">
          <div class="mb-2 d-flex justify-content-center">

            <!-- Facebook -->
            <a class="fb-ic mx-4">
              <mdb-icon fab icon="facebook" size="2x" class="text-white mr-md-5 mr-3"></mdb-icon>
            </a>
            <!-- Twitter -->
            <!-- <a class="tw-ic mx-4">
                <mdb-icon fab icon="twitter" size="2x" class="text-white mr-md-5 mr-3"></mdb-icon>
            </a> -->
            <!-- Google +-->
            <a class="gplus-ic mx-4">
                <mdb-icon fab fab icon="google-plus" size="2x" class="text-white mr-md-5 mr-3"></mdb-icon>
            </a>
            <!--Linkedin -->
            <!-- <a class="li-ic mx-4">
                <mdb-icon fab icon="linkedin" size="2x" class="text-white mr-md-5 mr-3"></mdb-icon>
            </a> -->
            <!--Instagram-->
            <a class="ins-ic mx-4">
                <mdb-icon fab icon="instagram" size="2x" class="text-white mr-md-5 mr-3"></mdb-icon>
            </a>
            <!--Pinterest-->
            <!-- <a class="pin-ic mx-4 ">
                <mdb-icon fab icon="pinterest" size="2x" class="text-white mr-md-5 mr-3 text-inherit"></mdb-icon>
            </a> -->
          </div>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-2 bg-dark text-white">© 2020 Copyright:
      <a href="https://mdbootstrap.com/" class="text-decoration-none text-white"> tinder.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->